@font-face {
  font-family: 'ClashDisplay';
  src: url('Fonts/TTF/ClashDisplay-Variable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --blue: #4F76F6;
  --green: #77F2A1;
  --white: #F9F9F9;
  --dark-grey: rgb(41, 57, 73);
}

html {
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, var(--blue), var(--green));
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  font-family: 'ClashDisplay', sans-serif;
}

html::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(https://grainy-gradients.vercel.app/noise.svg);
  opacity: 0.4;
  z-index: -1;
  pointer-events: none;
}

#navbar {
  width: 100%;
  background-color: rgba(31, 43, 55, 0.8);
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5rem;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

.hover-underline {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 1.5rem;
  position: relative;
  display: inline-block;
  cursor: pointer; 
}

.hover-underline:hover {
  color: var(--dark-grey);
  cursor: pointer;
  transition: all 0.4s ease-out;
}

.hover-underline::after,
.hover-underline::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: var(--dark-grey);
  bottom: 6px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

.hover-underline::before {
  top: 6px;
  transform-origin: left;
}

.hover-underline:hover::after,
.hover-underline:hover::before {
  transform: scaleX(1);
}

.header {
  color: var(--white);
  padding: 10px 0;
  text-align: center;
  margin-top: 35px;
}

@keyframes fadeInUp {
  0% {
    transform: translateY(60%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes fadeInUp2 {
  0% {
    transform: translateY(190%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes fadeInUpLowOpacity {
  0% {
    transform: translateY(60%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 0.4;
  }
}

.fadeInUp-animation {
  opacity: 0;
  transform: translateY(60%);
}

.fadeInUp-animation.visible {
  animation: 1.7s fadeInUp forwards;
}

.fadeInUp-animation2 {
  opacity: 0;
  transform: translateY(190%);
}

.fadeInUp-animation2.visible {
  animation: 1.4s fadeInUp2;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.fadeInUp-button {
  opacity: 0;
  transform: translateY(190%);
  animation: 1.4s fadeInUp2 forwards;
  animation-delay: 0.5s;
}

.header h1 {
  font-size: 8rem;
  margin: 0;
  font-weight: 400;
  letter-spacing: 5px;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

.header h2 {
  font-size: 2rem;
  margin: 0;
  font-weight: 300;
  margin-top: 35px;
  letter-spacing: 3px;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

#line-chart {
  display: inline-block;
  align-items: center;
  margin: 20px auto;
  max-width: 1200px;
  height: auto;
  border-radius: 10px;
  font-family: 'ClashDisplay', sans-serif;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

.graph-container {
  max-width: 1200px;
  margin: 60px auto;
  padding: 30px;
  background-color: rgba(212, 212, 212, 0.3);
  border-radius: 15px;
  animation: fadeInUp 1.5s ease-out;
  animation-delay: 0.6s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.graph-container #animated-timeline {
  width: 100%;
  height: 500px;
}

.content {
  transition: opacity 1s ease-out, transform 1s ease-out;
  display: flex;
  align-items: center;
  gap: 30px;
}

.content.fade-in-visible {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

#content-section-left, #content-section-right {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 15px;
  opacity: 0;
  transform: translateY(40px);
}

#content-section-right h3 {
  text-align: right;
}

#content-section-right p {
  text-align: right;
}

#words {
  flex: 1;
}

#button {
  flex-shrink: 0;
  background-color: rgba(212, 212, 212, 0.4);
  padding: 15px 25px;
  border-radius: 0.5rem;
  transition: all 0.4s ease-out;
}

#button a {
  font-size: 1.8rem;
  color: var(--white);
  text-decoration: none;
  transition: all 0.4s ease-out;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

#button:hover {
  background-color: rgb(41, 57, 73, 0.3);
  transition: all 0.4s ease-out;
  color: var(--dark-grey);
  cursor: pointer;
}

h3 {
  color: var(--white);
  text-align: left;
  margin: 20px auto;
  font-size: 2.9rem;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

p {
  color: var(--white);
  text-align: left;
  font-size: 1.9rem;
  margin: 20px auto;
  line-height: 1.6;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

.stock-ticker-container {
  overflow: hidden; /* Hides content outside the container */
  white-space: nowrap; /* Prevents text wrapping */
  width: 100%; /* Or a specific width */
  padding: 10px 0;
  position: relative;
}

.stock-ticker {
  display: inline-flex; /* Allows horizontal arrangement and prevents wrapping */
  will-change: transform; /* Optimizes animation performance */
  /* Animation is applied dynamically via JavaScript */
}

.stock-ticker span {
  margin-right: 70px;
  font-family: 'ClashDisplay', sans-serif;
  color: var(--white);
  font-size: 1.9rem;
  opacity: 0.4;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

#secondary-header {
  color: var(--white);
  padding: 10px 0;
  text-align: center;
  margin-top: 20px;
  font-size: 6rem;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

.forms-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin: 50px auto;
  max-width: 1200px;
  max-height: 800px;
}

.forms-container a {
  text-decoration: none;
  color: var(--white);
  font-size: 1.4rem;
  margin-top: 20px;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

.log-in-container,
.sign-up-container {
  text-align: center;
  margin: 0 auto;
  background-color: rgba(212, 212, 212, 0.3);
  border-radius: 2rem;
  flex: 1;
  min-width: 800px;
  max-width: 1200px;
}

.log-in-container h2,
.sign-up-container h2 {
  color: var(--white);
  font-size: 2.4rem;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  padding: 25px 0 0 0;
}

.log-in-container form,
.sign-up-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 30px 0;
}

.sign-up-form {
  align-items: stretch;
}

.form-columns {
  display: flex;
  gap: 40px;
  justify-content: center;
  width: 100%;
  padding: 0 30px;
}

.form-left,
.form-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
}

.form-button-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

.log-in-container label,
.sign-up-container label {
  color: var(--white);
  font-size: 1.8rem;
  margin: 15px 0 5px 0;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

.log-in-container input,
.sign-up-container input {
  padding: 10px;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  border: none;
  width: 80%;
  max-width: 400px;
}

.log-in-container button,
.sign-up-container button {
  margin-top: 50px;
  padding: 12px 25px;
  font-size: 1.4rem;
  border: none;
  border-radius: 2rem;
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'ClashDisplay', sans-serif;
}

input[name="firstname"],
textarea {
  font-family: "ClashDisplay", sans-serif;
  font-size: 16px;
  color: var(--dark-grey);
  font-weight: normal;
  padding: 15px 20px;
}

input[name="lastname"],
textarea {
  font-family: "ClashDisplay", sans-serif;
  font-size: 16px;
  color: var(--dark-grey);
  font-weight: normal;
  padding: 15px 20px;
}

input[name="email"],
textarea {
  font-family: "ClashDisplay", sans-serif;
  font-size: 16px;
  color: var(--dark-grey);
  font-weight: normal;
  padding: 15px 20px;
}

input[name="username"],
textarea {
  font-family: "ClashDisplay", sans-serif;
  font-size: 16px;
  color: var(--dark-grey);
  font-weight: normal;
  padding: 15px 20px;
}

input[name="password"],
textarea {
  font-family: "ClashDisplay", sans-serif;
  font-size: 16px;
  color: var(--dark-grey);
  font-weight: normal;
  padding: 15px 20px;
}

input[type="submit"] {
  flex-shrink: 0;
  background-color: rgba(212, 212, 212, 0.4);
  padding: 15px 25px;
  border-radius: 0.5rem;
  transition: all 0.4s ease-out;
  font-family: 'ClashDisplay', sans-serif;
  font-size: 1.8rem;
  color: var(--white);
  text-decoration: none;
  text-shadow: rgba(0,0,0,.01) 0 0;
}

form input { 
  margin-top: 35px;
}

.log-in-container input[type="submit"]:hover,
.sign-up-container input[type="submit"]:hover {
  color: var(--dark-grey);
  cursor: pointer;
  background-color: rgb(41, 57, 73, 0.3);
}

.forms-container .or-separator {
  font-size: 1.5rem;
  color: var(--white);
  margin: 0 auto;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 250px;
  margin-top: 0px;
}

.images #table {
  width: 140px;
  height: auto;
  border-radius: 10px;
  opacity: 0;
  transform: translateY(60%);
}

.images #pie-chart {
  width: 140px;
  height: auto;
  border-radius: 10px;
  opacity: 0;
  transform: translateY(60%);
}

.images #bar-chart {
  width: 140px;
  height: auto;
  border-radius: 10px;
  opacity: 0;
  transform: translateY(60%);
}

.images #table.visible,
.images #pie-chart.visible,
.images #bar-chart.visible {
  animation: 1.7s fadeInUpLowOpacity forwards;
}

@keyframes fadeInUpLowOpacity2 {
  0% {
    transform: translateY(60%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 0.4;
  }
}

.fadeInUpLowOpacity2 {
  opacity: 0;
  transform: translateY(60%);
}

.fadeInUpLowOpacity2.visible {
  animation: 1.4s fadeInUpLowOpacity2 forwards;
}

.fadeInUpLowOpacity3 {
  opacity: 0;
  transform: translateY(60%);
}

.fadeInUpLowOpacity3.visible {
  animation: 1.4s fadeInUpLowOpacity3 forwards;
  animation-delay: 0.5s;
}

.fadeInUpLowOpacity4 {
  opacity: 0;
  transform: translateY(60%);
}

.fadeInUpLowOpacity4.visible {
  animation: 1.4s fadeInUpLowOpacity4 forwards;
  animation-delay: 0.9s;
}

/* Animating decimal counter */
@property --number {
  syntax: "<number>";
  initial-value: 0;
  inherits: false;
}

.counter {
  --number: 0;
  counter-reset: num calc(var(--number));
  animation: counter 3s forwards;
}


@keyframes counter {
  to {
    --number: var(--target-value);
  }
}

.port-stats-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 1200px;
  gap: 100px;
  margin: 0 auto;
}

#port-health-example h3 {
  text-align: left;
  padding: 5px 5px;
}

#port-risk-example h3 {
  text-align: right;
  padding: 5px 5px;
}

.port-stats-container > div {
  flex: 1;
  text-align: center;
}

.port-stats-container h3 {
  margin: 0;
}

.profile-container {
  max-width: 1200px;
  margin: 60px auto;
  padding: 30px;
  background-color: rgba(212, 212, 212, 0.3);
  border-radius: 15px;
  animation: fadeInUp 1.5s ease-out;
  animation-delay: 0.6s;
  opacity: 0;
  animation-fill-mode: forwards;
  text-align: center;
}

.profile-container h2 {
  color: var(--white);
  font-size: 2.4rem;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  padding: 0 0 20px 0;
}

.profile-container a {
  font-size: 1.8rem;
  color: var(--white);
  text-decoration: none;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

.portfolio-container,
.optimize-container {
  max-width: 1200px;
  margin: 60px auto;
  padding: 30px;
  background-color: rgba(212, 212, 212, 0.3);
  border-radius: 15px;
  animation: fadeInUp 1.5s ease-out;
  animation-delay: 0.6s;
  opacity: 0;
  animation-fill-mode: forwards;
  text-align: center;
}

.footer p{
  text-align: center;
  padding: 15px 0;
  color: var(--white);
  font-size: 1rem;
  margin-top: 100px;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}