@font-face {
  font-family: 'ClashDisplay';
  src: url('Fonts/TTF/ClashDisplay-Variable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --blue: #4F76F6;
  --green: #77F2A1;
  --white: #F9F9F9;
  --dark-grey: rgb(41, 57, 73);
}

html {
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, var(--blue), var(--green));
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  font-family: 'ClashDisplay', sans-serif;
}

html::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(https://grainy-gradients.vercel.app/noise.svg);
  opacity: 0.4;
  z-index: -1;
  pointer-events: none;
}

#navbar {
  width: 100%;
  background-color: rgba(31, 43, 55, 0.8);
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5rem;
}

.hover-underline {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 1.5rem;
  position: relative;
  display: inline-block;
  cursor: pointer; 
}

.hover-underline:hover {
  color: var(--dark-grey);
  cursor: pointer;
  transition: all 0.4s ease-out;
}

.hover-underline::after,
.hover-underline::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: var(--dark-grey);
  bottom: 6px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

.hover-underline::before {
  top: 6px;
  transform-origin: left;
}

.hover-underline:hover::after,
.hover-underline:hover::before {
  transform: scaleX(1);
}

.header {
  color: var(--white);
  padding: 10px 0;
  text-align: center;
  margin-top: 35px;
}

@keyframes fadeInUp {
  0% {
    transform: translateY(60%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes fadeInUp2 {
  0% {
    transform: translateY(190%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.fadeInUp-animation {
  opacity: 0;
  transform: translateY(60%);
}

.fadeInUp-animation.visible {
  animation: 1.7s fadeInUp forwards;
}

.fadeInUp-animation2 {
  opacity: 0;
  transform: translateY(190%);
}

.fadeInUp-animation2.visible {
  animation: 1.4s fadeInUp2;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.header h1 {
  font-size: 8rem;
  margin: 0;
  font-weight: 400;
  letter-spacing: 5px;
}

.header h2 {
  font-size: 2rem;
  margin: 0;
  font-weight: 300;
  margin-top: 35px;
  letter-spacing: 3px;
}

#line-chart, #pie-chart {
  display: inline-block;
  align-items: center;
  margin: 20px auto;
  max-width: 50%;
  height: auto;
  border-radius: 10px;
  font-family: 'ClashDisplay', sans-serif;
}

.graph-container {
  max-width: 1200px;
  margin: 60px auto;
  padding: 30px;
  background-color: rgba(212, 212, 212, 0.2);
  border-radius: 15px;
  animation: fadeInUp 1.5s ease-out;
  animation-delay: 0.6s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.graph-container #animated-timeline {
  width: 100%;
  height: 500px;
}

.content {
  transition: opacity 1s ease-out, transform 1s ease-out;
  display: flex;
  align-items: center;
  gap: 30px;
}

.content.fade-in-visible {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

#content-section {
  max-width: 1250px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 15px;
  opacity: 0;
  transform: translateY(40px);
}

#words {
  flex: 1;
}

#button {
  flex-shrink: 0;
  background-color: rgba(212, 212, 212, 0.3);
  padding: 15px 25px;
  border-radius: 2rem;
  transition: all 0.4s ease-out;
}

#button a {
  font-size: 1.8rem;
  color: var(--white);
  text-decoration: none;
  transition: all 0.4s ease-out;
}

#button:hover {
  background-color: rgb(41, 57, 73, 0.3);
  transition: all 0.4s ease-out;
  color: var(--dark-grey);
}

h3 {
  color: var(--white);
  text-align: left;
  margin: 20px auto;
  font-size: 2.9rem;
}

p {
  color: var(--white);
  text-align: left;
  font-size: 1.9rem;
  margin: 20px auto;
  line-height: 1.6;
}

.footer p{
  text-align: center;
  padding: 15px 0;
  color: var(--white);
  font-size: 1rem;
  margin-top: 40px;
}