@font-face {
  font-family: 'ClashDisplay';
  src: url('Fonts/TTF/ClashDisplay-Variable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --blue: #4F76F6;
  --green: #77F2A1;
  --white: #F9F9F9;
  --dark-grey: #1F2B37;
}

html {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(45deg, var(--blue), var(--green));
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  font-family: 'ClashDisplay', sans-serif;
}

.navbar {
  width: 100%;
  background-color: rgba(31, 43, 55, 0.8);
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5rem;
}

.hover-underline {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 1.5rem;
  position: relative;
  display: inline-block;
  cursor: pointer; 
}

.hover-underline:hover {
  color: var(--dark-grey);
  cursor: pointer;
  transition: all 0.4s ease-out;
}

.hover-underline::after,
.hover-underline::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: var(--dark-grey);
  bottom: 6px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

.hover-underline::before {
  top: 6px;
  transform-origin: left;
}

.hover-underline:hover::after,
.hover-underline:hover::before {
  transform: scaleX(1);
}

.header {
  color: var(--white);
  padding: 10px 0;
  text-align: center;
  margin-top: 35px;
}

.fade-in-title {
  opacity: 0; /* Start completely transparent */
  transform: translateY(20px); /* Start slightly below its final position */
  animation: fadeInFromBottom 1.1s ease-out forwards; /* Apply the animation */
}

.fade-in-title2 {
  opacity: 0; /* Start completely transparent */
  transform: translateY(20px); /* Start slightly below its final position */
  animation: fadeInFromBottom 1.2s ease-out forwards; /* Apply the animation */
  animation-delay: 0.7s; /* Delay for staggered effect */
}

@keyframes fadeInFromBottom {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Move to its original position */
  }
}

.header h1 {
  font-size: 8rem;
  margin: 0;
  font-weight: 400;
  letter-spacing: 5px;
}

.header h3 {
  font-size: 2rem;
  margin: 0;
  font-weight: 300;
  margin-top: 35px;
  letter-spacing: 3px;
}