<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/styles.css">
  <title>Portfolio Dashboard</title>
</head>
<body>

  <div id="nav-bar">
    <ul>
      <li><a class="hover-underline" href="{{ url_for('index') }}"> Home </a></li>
      <li><a class="hover-underline" href="{{ url_for('about') }}"> About </a></li>
      <li><a class="hover-underline"> Deep Dive </a></li>
      <li><a class="hover-underline"> Optimization </a></li>
      <li><a class="hover-underline"> Profile </a></li>
    </ul>
  </div>

  <div class="header">
    <h1 class="fadeInUp-animation">About WealthLens</h1>
    <h2 class="fadeInUp-animation2">How it all comes together</h2>
  </div>



  <div class="footer">
    <p>© 2025 WealthLens. All rights reserved.</p>
  </div>

  <script src="static/script.js"></script>

</body>
</html>