<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/styles.css">
  <title>Portfolio Dashboard</title>
</head>
<body>

  <div id="nav-bar">
    <ul>
      <li><a class="hover-underline" href="{{ url_for('index') }}"> Home </a></li>
      <li><a class="hover-underline"> About </a></li>
      <li><a class="hover-underline"> Deep Dive </a></li>
      <li><a class="hover-underline"> Optimization </a></li>
      <li><a class="hover-underline"> Profile </a></li>
    </ul>
  </div>

  <div class="header">
    <h1 class="fadeInUp-animation">WealthLens</h1>
    <h3 class="fadeInUp-animation2">View, Analyze, and Optimize Your Investments</h3>
  </div>

  <div class="graph-container">
    {{ graph_html|safe }}
  </div>

  <script>
    // Auto-play the animation when the page loads
    window.addEventListener('load', function() {
      setTimeout(function() {
        const playButton = document.querySelector('.modebar-btn[data-title="Play"]');
        if (playButton) {
          playButton.click();
        }
      }, 500);
    });
  </script>

</body>
</html>