<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/styles.css">
  <title>Portfolio Dashboard</title>
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon_io-2/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon_io-2/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon_io-2/favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='favicon_io-2/site.webmanifest') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon_io-2/favicon.ico') }}">
</head>
<body>

  <div id="nav-bar">
    <ul>
      <li><a class="hover-underline" href="{{ url_for('index') }}"> Home </a></li>
      <li><a class="hover-underline" href="{{ url_for('about') }}"> About </a></li>
      {% if current_user.is_authenticated %}
        <li><a class="hover-underline" href="{{ url_for('portfolio') }}"> Portfolio </a></li>
        <li><a class="hover-underline" href="{{ url_for('optimize') }}"> Optimization </a></li>
        <li><a class="hover-underline" href="{{ url_for('profile') }}"> Profile </a></li>
        <li><a class="hover-underline" href="{{ url_for('logout') }}"> Log Out </a></li>
      {% else %}
        <li><a class="hover-underline" href="{{ url_for('register') }}"> Sign Up </a></li>
        <li><a class="hover-underline" href="{{ url_for('login') }}"> Log In </a></li>
      {% endif %}
    </ul>
  </div>

  <div class="header">
    <h1 id="secondary-header" class="fadeInUp-animation">Your Profile</h1>
  </div>

  <div class="profile-first-container">
    <div class="profile-container fadeInUp-animation">
      <h2>Welcome, {{ current_user.firstname }} {{ current_user.lastname}}!</h2>
      <p>This is your profile page. Here you can manage your account and view your portfolio.</p>
      <div id="drop-zone">
        Drag and drop files here or click to select
        <input type="file" id="file-input" multiple style="display: none;">
      </div>
      <div id="file-list"></div>
      <a href="{{url_for('logout')}}" id="button" class="fadeInUp-button">Log Out</a>
    </div>
    <div class="profile-pie-container fadeInUp-animation">
      {{ holdings_graph_html|safe }}
    </div>
  </div>

  <div class="profile-graph-container">
    {{ graph_html|safe }}
  </div>

  <div class="file-container fadeInUp-animation">
    <h2>Your Uploaded Files</h2>
    {% if files %}
      <ul>
        {% for file in files %}
          <li>{{ file.filename }} - Uploaded on {{ file.upload_date.strftime('%Y-%m-%d %H:%M:%S') }}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No files uploaded yet.</p>
    {% endif %}
  </div>

  <div class="footer">
    <p>© 2025 OptiFiance. All rights reserved.</p>
  </div>

  <script src="static/script.js"></script>

</body>
</html>