<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/styles.css">
  <title>Portfolio Dashboard</title>
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon_io-2/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon_io-2/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon_io-2/favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='favicon_io-2/site.webmanifest') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon_io-2/favicon.ico') }}">
</head>
<body>

  <div id="nav-bar">
    <ul>
      <li><a class="hover-underline" href="{{ url_for('index') }}"> Home </a></li>
      <li><a class="hover-underline" href="{{ url_for('about') }}"> About </a></li>
      <li><a class="hover-underline"> Portfolio </a></li>
      <li><a class="hover-underline"> Optimization </a></li>
      <li><a class="hover-underline" href="{{ url_for('profile') }}"> Profile </a></li>
    </ul>
  </div>

<div class="forms-container">
  <div class="log-in-container fadeInUp-animation">
    <h2>Log In</h2>
    <form action="{{ url_for('profile') }}" method="post">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <button type="submit" id="button">Log In</button>
    </form>
  </div>

  <div class="or-separator fadeInUp-animation">
    <h2>OR</h2>
  </div>

  <div class="sign-up-container fadeInUp-animation">
    <h2>Sign Up</h2>
    <form action="{{ url_for('profile') }}" method="post">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <button type="submit" id="button">Sign Up</button>
    </form>
  </div>
</div>

  <div class="footer">
    <p>© 2025 OptiFiance. All rights reserved.</p>
  </div>

  <script src="static/script.js"></script>

</body>
</html>