<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/styles.css">
  <title>Portfolio Dashboard</title>
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon_io-2/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon_io-2/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon_io-2/favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='favicon_io-2/site.webmanifest') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon_io-2/favicon.ico') }}">
</head>
<body>

  <div id="nav-bar">
    <ul>
      <li><a class="hover-underline" href="{{ url_for('index') }}"> Home </a></li>
      <li><a class="hover-underline" href="{{ url_for('about') }}"> About </a></li>
      {% if current_user.is_authenticated %}
        <li><a class="hover-underline" href="{{ url_for('portfolio') }}"> Portfolio </a></li>
        <li><a class="hover-underline" href="{{ url_for('optimize') }}"> Optimization </a></li>
        <li><a class="hover-underline" href="{{ url_for('profile') }}"> Profile </a></li>
        <li><a class="hover-underline" href="{{ url_for('logout') }}"> Log Out </a></li>
      {% else %}
        <li><a class="hover-underline" href="{{ url_for('register') }}"> Sign Up </a></li>
        <li><a class="hover-underline" href="{{ url_for('login') }}"> Log In </a></li>
      {% endif %}
    </ul>
  </div>

  <div class="header">
    <h1 id="secondary-header" class="fadeInUp-animation">Sign Up for Free</h1>
  </div>

<div class="forms-container">
  <div class="sign-up-container fadeInUp-animation">
    <h2>Register</h2>
    <form action="" method="post" class="sign-up-form">
      {{ form.hidden_tag() }}
      <div class="form-columns">
        <div class="form-left">
          {{ form.firstname }}
          {% if form.firstname.errors %}
            <ul class="errors">
              {% for error in form.firstname.errors %}
                <li style="color: red; font-size: 0.9rem;">{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
          {{ form.lastname }}
          {% if form.lastname.errors %}
            <ul class="errors">
              {% for error in form.lastname.errors %}
                <li style="color: red; font-size: 0.9rem;">{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
          {{ form.email }}
          {% if form.email.errors %}
            <ul class="errors">
              {% for error in form.email.errors %}
                <li style="color: red; font-size: 0.9rem;">{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
        <div class="form-right">
          {{ form.username }}
          {% if form.username.errors %}
            <ul class="errors">
              {% for error in form.username.errors %}
                <li style="color: red; font-size: 0.9rem;">{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
          {{ form.password }}
          {% if form.password.errors %}
            <ul class="errors">
              {% for error in form.password.errors %}
                <li style="color: red; font-size: 0.9rem;">{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
      <div class="form-button-wrapper">
        {{ form.submit }}
      </div>
    </form>
  </div>
  <a href="{{ url_for('login') }}" id="button" class="fadeInUp-button">Have an account? Log In</a>
</div>

  <div class="footer">
    <p>© 2025 OptiFiance. All rights reserved.</p>
  </div>

  <script src="static/script.js"></script>

</body>
</html>